@page "/categories"
@using Microsoft.AspNetCore.Authorization
@using VistaBasket.Web.IServices
@inject ICategoryService _categoryService
@attribute [Authorize]

<h3>Categories</h3>
<button @onclick="NavigateToAdd">New Category</button>
@if (categories == null)
{
    <div class="spinner-border"></div>
}
else
{
    <table>
        <tbody>
            @foreach (var category in categories)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>
                        <button @onclick="() => NavigateToEdit(category.Id)">Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
