@page "/products"
@using VistaBasket.Web.Extensions
@using VistaBasket.Web.IServices
@inject IProductService _productService

<h3>Products</h3>

<button @onclick="NavigateToAdd">New Product</button>
@if (products == null)
{
    <div class="spinner-border"></div>
}
else
{
    <table>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>
                        <img src="@product.ImageBlob.GetImageSource()" alt="Blog Image" />
                    </td>
                    <td>
                        <button @onclick="() => NavigateToEdit(product.Id)">Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}